.header {
    background-color: #008296ba;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #2a363b;
    box-shadow: 0 0 10px #008296, 0 0 20px #00b2b2, 0 0 40px #008296;
    padding: 10px 12px;

}
.link {
    display: inline-block;
    text-decoration: none;
    padding: 15px;
    font-weight: 600;
    color: #2a363b;
    font-size: 20px;
}

.link.active {
    color: #7b5d1c;
}
