.form {
    margin-top: 10px;
    margin-bottom: 10px;
}

.label {
    /* margin-top: 10px;
    font-weight: 500; */
    font-size: 18px;
}

.input {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    text-align: left;
}

/* .input:focus {
    outline-color: rgb(148, 96, 96);
} */

.btn {
    margin-top: 10px;
    height: auto;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    padding: 6px;
    border: 1px solid black;
    border-radius: 5px;
}

/* .btn:hover {
    background-color: rgb(199, 35, 128);
    color: white;
} */